
@model  List<InstituteManagementApp.Models.UserMaster>
@{
    ViewBag.Title = "AllUsers";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <form method="post" name="Display">
        <div style="align-content: center; text-align: center">
            <h1 style="font-weight:bold">Users Details</h1>
        </div>

        <br />
        @{

            <table class="table table-bordered table-striped" style="background-color:white">
                <thead style="background-color:midnightblue; color:white">
                    <tr>
                        <td>User Id</td>
                        <td>FullName</td>
                        <td>Mobile Number</td>
                        <td>Qualification</td>
                        <td>Payment</td>
                        <td>Joining Date</td>
                        <td>Worktype</td>
                        <td>Batch</td>
                        <td>Active or not</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                     <tr>
                        <td>@data.UserId  </td>
                        <td>@data.FirstName &nbsp; @data.LastName</td>
                        <td>@data.MobileNumber</td>
                        <td>@data.Qualification</td>
                        <td>@data.TotalPayment</td>
                        <td>@data.JoiningDate</td>
                        <td>@data.WorkType</td>
                        <td>@data.Batch</td>
                        <td>@data.IsActive</td>
                        <td>@Html.ActionLink("Edit", "EditUserData", new { UserId = data.UserId })</td>
                        <td>@Html.ActionLink("Delete", "DeleteUserData", new { UserId = data.UserId })</td>
                     </tr>
                    }
                </tbody>
               

            </table>
            <br />
        }
        >
        @Html.ActionLink("Add new User", "UserRegistration")

    </form>
</body>
</html>


